
.home_content {
    padding: 200px 0 70px;
    border-bottom: 2px solid #f95757;
}
@media (max-width: 480px) {
	.home_content {
	    padding: 150px 0 35px;
	}
}
.home_content h1 {
	text-align: left;
	font-size: 50px;
	color: #f95757;
    letter-spacing: 0.03em;
    font-weight: 600;
    margin-bottom: 30px;
}
@media (max-width: 480px) {
	.home_content h1 {
		font-size: 38px;
		margin-bottom: 25px;
	}
}
.home_content h1:after {
	display: none;
}
.home_content .home_content{
}
.home_content .home_info h2{
	font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #A69E9C;
}
.home_content .home_info p{
    font-size: 17px;
	text-align: left;
    text-justify: auto;
}
@media (max-width: 480px) {
	.home_content .home_info h2{
		font-size: 12px;
	    margin: 15px 0 2px 0;
	}
	.home_content .home_info p{
	    font-size: 15px;
	    margin-bottom: 0;
	}
}

.text_align_center {
	text-align: center;
}







#main_contents {
	padding-top: 120px;
	background: #fff;
}
@media (max-width: 480px) {
	#main_contents {
		padding: 60px 0;
	}
}
.contents_wrapper section {
    margin-bottom: 120px;
}

.contents_wrapper section.margin-bottom_shorter {
	margin-bottom: 90px;
}

.contents_wrapper section:last-child {
	margin-bottom: 0;
}


.description {

}
.description h1{
	margin-bottom: 40px;
    letter-spacing: 0.2em;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
@media (max-width: 480px) {
	.description h1{
		margin-bottom: 27px;
	    letter-spacing: 0.2em;
	    font-size: 22px;
	}
}
.screen_items img{
	border: #F1F1F1 1px solid;
}
@media (max-width: 480px) {
	.screen_item figure {
		margin-bottom: 40px;
	}
}

.project-detail {
	text-align: center;
}
.project-detail section h1, .project-detail section h2 {
	margin-bottom: 50px;
    letter-spacing: 0.2em;
    font-weight: 600;
	text-align: center;
}
.project-detail section h1 {
	font-size: 30px;
}
.project-detail section h2 {
	font-size: 22px;
}

.project-detail ul.screen_items li {
	margin: 0 10px;
}
.project-detail ul.screen_items li img {
	margin-bottom: 40px;
	width: 240px;
}
#solofood .project-detail div.screen_items div{
	margin-bottom: 30px;
}

.project-detail .text_aboutImage {
	margin: 0 auto 25px auto;
	max-width: 780px;
	text-align: center;
}

#puyopuyo .project-detail ul {
	text-align: left;
	width: 280px;
}

#javat .project-detail #deliverables ul {
	text-align: left;
    width: 480px;
    margin: 0 auto;
}

/*.project-detail .button {
	margin: 0 auto;
}*/

.project-detail .button a{
	display: inline-block;
    width: 18rem;
    text-align: center;
    line-height: 30px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 11px 25px -10px #f2f2f2;
    -moz-box-shadow: 0 11px 25px -10px #f2f2f2;
    -webkit-box-shadow: 0 11px 25px -10px #f2f2f2;
}


/* buttons */
.project-detail .github a {
	background: #24292e;
	color: #fff;
}
.project-detail .googlePlay {
	margin-top: 10px;
}
.project-detail .googlePlay a img{
	width: 240px;
}

.project-detail .itunes a {
	background: #f2f2f2;
	color: #333;
}

.project-detail .itunes a {
	background: #f2f2f2;
	color: #333;
}

.project-detail .button a i{
	font-size: 22px;
    margin-right: 8px;
    vertical-align: middle;
    margin-top: -2px;
}

.project-detail .itunes a i{
	font-size: 20px;
}


.navi_works {
	margin-top: 100px;
    padding: 30px 0;
    border-top: #f95757 solid 2px;
}
.navi_works a {
    display: block;
    color: #f95757;
    letter-spacing: 0.1em;
    font-weight: 600;
}
.navi_works a:hover {
	text-decoration: none;
}
@media (max-width: 480px) {
	.navi_works {
		margin-top: 80px;
	}
	.navi_works .row {
		margin: 0;
	}
	.navi_works .row div {
		padding: 0;
	}
	.navi_works a {
		font-size: 13px;
	    letter-spacing: 0.05em;
	}
}
.navi_works .prev {
	text-align: left;
}
.navi_works .prev i{
	margin-right: 5px;
}
.navi_works .backToHome {
	text-align: center;
}
.navi_works .next {
	text-align: right;
}
.navi_works .next i{
	margin-left: 5px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
}

/* JavaQ */
table thead tr th, table tbody tr th {
	text-align: center;
}
table .badge_image img{
	width: 30px;
	margin: 0 auto;
}


/*margin for mobile*/
@media (max-width: 768px) {
	.contents_wrapper section, .contents_wrapper section .description div {
		margin-bottom: 80px;
	}
	.contents_wrapper section:last-child {
		margin-bottom: 40px;
	}
	.contents_wrapper section .description div:last-child{
		margin-bottom: 0;
	}
	.image_widthMax + p {
		margin-top: 50px;
	}
}